.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    @apply bg-primary;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
.fullpageloader-container {
    @apply fixed top-0 left-0 w-full h-full flex items-center justify-center bg-slate-50/50;
}
.fullpageloader-container .show {
    animation: fadeIn .25s ease-in-out;
}
.fullpageloader-container .hide {
    animation: fadeOut .25s ease-in-out;
}
@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0%;
    }
    1% {
        visibility: visible;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 100%;
    }
    99% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
        opacity: 0%;
    }
}