@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  /*noinspection CssInvalidFunction*/
  font-size: rfs(5.61rem);
}

h2 {
  /*noinspection CssInvalidFunction*/
  font-size: rfs(4.209rem);
}

h3 {
  /*noinspection CssInvalidFunction*/
  font-size: rfs(3.157rem);
}

h4 {
  /*noinspection CssInvalidFunction*/
  font-size: rfs(2.369rem);
}

h5 {
  /*noinspection CssInvalidFunction*/
  font-size: rfs(1.777rem);
}

h6 {
  /*noinspection CssInvalidFunction*/
  font-size: rfs(1.333rem);
}

p, span {
  /*noinspection CssInvalidFunction*/
  font-size: rfs(1rem);
}